<h2>Login</h2>

<form action="/sessions" method="post">
    <label for="">Email</label>
    <input type="text" name="email">

    <label for="">Password</label>
    <input type="password" name="password" id="">
    
    <button>Login</button>
</form>